@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins {
  font-family: var(--var-poppins-);
}

@keyframes appearfromleft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
.appearfromleft {
  animation: appearfromleft 0.5s forwards ease-in;
}
